body {
    font-family: 'Times New Roman', Times, serif;
    /* margin: 10px; */
}

form {
    max-width:400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #100e0e;
    border-radius: 10px;
    background-color: #6ee4ffd8;
    
}



fieldset {
    /* margin-bottom: 5px; */
    border: 1px solid #ddd;
    /* padding: 10px; */
}

label1 {
    color: black;
    font-weight: bolder;
    display: block;
    margin-bottom: 1px;
}

label {
    display: block;
    
}

.quantity {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quantity label {
    margin-right: 10px;
}

.quantity button {
    padding: 5px 10px;
    margin: 0 5px;
}

.file-upload {
    margin-bottom: 20px;
}

button[type="submit"] {
    padding: 10px 20px;

    background-color: #ff60af;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #54adf5cf;
    color:black;
}